<?xml version="1.0" encoding="utf-8"?>
<!--
# This file is part of the ChillDev ViewHelpers bundle.
#
# @author Rafał Wrzeszcz <rafal.wrzeszcz@wrzasq.pl>
# @copyright 2012 © by Rafał Wrzeszcz - Wrzasq.pl.
# @version 0.0.1
# @since 0.0.1
# @package ChillDevViewHelpersBundle
-->
<phpunit
    colors="true"
    bootstrap="vendor/autoload.php"
    strict="true"
>
    <!-- test suites definitions -->
    <testsuites>
        <testsuite name="ChillDev ViewHelpers Bundle">
            <directory>./library/ChillDev/Bumdle/ViewHelpersBundle/Tests/</directory>
        </testsuite>
    </testsuites>

   <!-- code coverage configuration -->
    <filter>
        <blacklist>
            <directory suffix=".php">./vendor</directory>
        </blacklist>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./library</directory>
            <exclude>
                <directory suffix=".php">./library/ChillDev/Bundle/ViewHelpersBundle/Tests</directory>
            </exclude>
        </whitelist>
    </filter>

    <!-- logging settings -->
    <logging>
        <log
            type="coverage-html"
            target="coverage"
            charset="utf-8"
            highlight="true"
        />
        <log
            type="testdox-html"
            target="documentation/testdox.html"
        />
    </logging>
</phpunit>
